@media(max-width: 768px){

  #help span:nth-child(1){
    display: none;  
  }

  .article h1{
    margin-top: 15px;
    font-size: 1.5em;
  }

  .container{
    width: 90vw;
  }

  .cards-pays{
    width: 100%;
    flex-direction: column-reverse;
  }

  .card-pay{
    width: 100%;
  }
}